.prod-container{
max-width:1150px;
margin:60px auto;
padding-left:25px;
padding-right:25px;
position: relative;
top:50px;
}


.prod-filter-row{
    display: flex;
    justify-content: space-around;
    height:100%;
    align-items: center;
    flex-wrap: wrap;
    padding:10px 5px;
    margin:10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.prod-filter-search{
padding:5px 5px;
}
.prod-filter-input{
padding:7px;
text-align:start;
outline: none;
font-size: 16px;
width:500px;
}
.prod-filter-select{
padding:10px;
outline: none;
font-size: 16px;

}
.btn-clear{
padding:7px 20px;
font-size: 16px;
color: white;
background-color:#3b82f6 ;
outline: none;
border:none;
}
.product-row{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:600px) {
   .product-row{
    display: flex;
    justify-content: center;
} 
.prod-filter-input{
    width:200px;
}

}