.order-container{
    max-width: 500px;
    margin: 100px auto;
}
.order-address-container{
    border: 1px solid black;
    padding: 10px 20px;
}
.order-heading{
    /* text-align: center; */
}
.order-name{
    font-size: 20px;
    font-weight: bold;
}
.order-address{
    font-size: 20px;
    font-weight: bold;

}

.order-products-container{
    border:1px solid black;
    margin: 10px 0px;
    padding:0px 10px;
}