

   @import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App{
  font-family: 'Poppins', sans-serif;

}
body {
  
  margin: 0;
  padding:0;
  box-sizing: border-box;
  
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

p{
  padding:0;
  margin:0;
}