.single-product-container{
    margin: 150px auto;
    max-width: 1150px;
    padding-left:25px;
    padding-right:25px;
}
.single-product-card{
    display: flex;
}
.single-product-info{
margin-left:100px;
flex-basis: 50%;

}
.single-product-name{
font-size: 35px;
margin:0;
/* padding-top:10px; */
}
.single-product-desc{
font-size:25px;
margin:0px;
padding : 10px 0px;
}

.single-product-img{
    width:400px;
    height: 400px;
    flex-basis: 50%;
}
.single-product-price{
    font-size:30px;
    padding:0px;
    margin:10px 0px;
}
.single-product-btn{
    margin:15px 0px;
    padding:10px;
}
.pr-cart-btn{
    background-color:#3b82f6;
margin-right:20px;
border:none;
padding:10px 25px;
color:white;
font-size: 18px;
}
.pr-wish-btn{
    border:1px solid #3b82f6;
    color:#3b82f6;
    padding:9px 25px;
font-size: 18px;
background-color: white;

}
.single-product-btn{
margin:10px 0px;

    display: flex;
    margin:15px 0px ;
    padding:15px 0px;

}

@media only screen and (max-width:600px){
    .single-product-card{
        flex-direction: column;
        /* justify-content: left; */
        /* border: 1px solid black; */
    }
    .single-product-img{
        width:98%;
        padding:10px 5px;
    }
    .single-product-info{
        margin:20px 5px;
    }
    .single-product-name{
        font-size: 25px;
    }
    .single-product-desc{
        font-size: 15px;
    }
    .single-product-price{
        font-size: 20px;
    }
    .pr-wish-btn{
        font-size: 15px;
    }
    .pr-cart-btn{
        font-size: 15px;
    }
}

